<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rpmBIMTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <rpmBIMTools.Properties.Settings>
            <setting name="exportModel_exportOptions_PurgeUnused" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportModel_exportOptions_Audit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportModel_exportOptions_IncludeSheets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_exportOptions_IncludeViews" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exportModel_exportOptions_IncludeRevitLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_exportOptions_IncludeCADLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_exportOptions_IncludeDWFLinks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_exportOptions_IncludeDecals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_exportOptions_IncludeExportReport"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportModel_exportOptions_Compression" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportModel_exportOptions_DisableWorksharing"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exportModel_includeView_FloorPlans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_CeilingPlans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_StructuredPlans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_AreaPlans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_Sections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_Elevations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_Details" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_DraftingViews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_Legends" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_3DViews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_Renderings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_Walkthroughs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_Schedules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_PanelSchedules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exportModel_includeView_ColumnSchedules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quickSelect_selectionApplyToSelectionSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="quickSelect_selectionApplyToIncludeExclude" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="exportImportSchedule_OutputFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="familyLibrary_savedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="familyLibrary_allTypes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="familyLibrary_height" serializeAs="String">
                <value>850</value>
            </setting>
            <setting name="familyLibrary_width" serializeAs="String">
                <value>500</value>
            </setting>
        </rpmBIMTools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
